<div class='team-requirements'>
  <h1>Requisitos</h1>

  <%= link_to 'Novo Requisito', '#', class: "btn btn-success" %>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Nome<td>
        <td>Código</td>
        <td>Classe</td>
      </tr>
    </thead>

    <tbody>
      <% @team.requirements.each do |b| %>
        <tr>
          <td><%= link_to b.name, '#', class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
