<div class='team-requirements'>
  <h1>Requisitos</h1>

  <% if current_user && current_user.member_of?(@team) || @team.user == current_user %>
    <%= link_to 'Novo Requisito', new_requirement_path(team_id: @team.id, user_id: current_user.id), class: "btn btn-success" %>
  <% end %>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Código</td>
        <td>Classe</td>
      </tr>
    </thead>

    <tbody>
      <% @team.requirements.each do |b| %>
        <tr>
          <td><%= link_to b.description, '#', class: "" %></td>
          <td><%= link_to b.code, '#', class: "" %></td>
          <td><%= link_to b.class, '#', class: "" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
