<div class='teams'>
  <center><%= link_to 'Criar Time', new_team_path, class: 'btn btn-primary btn-success btn-lg margin-top-50' %></center>
  <center><h1 class='teams-index-title'>Times</h1></center>
  <div class='row margin-top-50 index'>
    <% @teams.each do |f| %>
      <div class='col-md-6'>
        <div class='row margin-top-50'>
          <%= render 'shared/team', t: f %>
        </div>
      </div>
    <% end %>
  </div>
  <center><%= will_paginate %></center>
</div>