<div class='teams-show-page padding-top-50'>
  <% @teams.each do |t| %>
    <% if t %>
      <div class='row'>
        <%= render 'shared/team', t: t %>
      </div>
    <% end %>
  <% end %>
 <span class="division"> <hr> </span>
 <span class="division"> <hr> </span> 
</div>
