<div class='users-show-page'>
  <% if current_user && current_user == @user %>
    <center><%= link_to 'Editar Profile', edit_user_path(id: @user.id), class: 'btn btn-lg btn-info' %></center>
  <% end %>

  <%= render 'shared/user', t: @user %>

  <br><br><br><br><br><br>
  <h1>Times deste usuário (<%= @teams.count %>):</h1>
  <% @teams.each do |t| %>
    <div class='row'>
      <%= render 'shared/team', t: t %>
    </div>
  <% end %>

</div>