<footer class='footer navbar-fixed-bottom'>
  <div class='container'>
    <div class='row'>

      <div class='col-md-1'>
      </div>

      <div class='col-md-5'>
        <nav>
          <ul>
            <li class='attention-footer'>Navegação</li>
            <li><%= link_to 'Sobre', '#' %></li>
            <li><%= link_to 'Ajuda', '#' %></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-5">
        <nav>
          <ul>
            <li class='attention-footer'>Informações</li>
            <li><%= link_to 'Outros', '#' %></li>
          </ul>
        </nav>
      </div>

      <div class='col-md-1'>
      </div>

    </div>
  </div>
</footer>