  <center><h1>Ultimos usuários registrados:</h1></center>
  <span class="division"> <hr> </span>
  <% @users.each do |t| %>
    <div class='row users-index-block'>
      <%= render 'shared/user', t: t %>
    </div>
  <% end %>
