<div class='index-page'>
  
  <div class="container">
    <center><h1>Bem-vindo!</h1></center>
  </div>

  <% if signed_in? %>
    <%= render 'invites/pending_invites' %>
  <% end %>

  <div class='row'>
    <%= render 'portal/last_users' %>
      <span class="division"> <hr> </span>
    <%= render 'portal/last_teams' %>
  </div>

</div>