@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color-primary-0: #236267;  // Main Primary color */
$color-primary-1: #E7E7E7;
$color-primary-2: #649195;
$color-primary-3: #01353A;
$color-primary-4: #000B0C;

/* custom fonts */
@font-face {
  font-family: Space;
  src: url(space.ttf);
}

@font-face {
  font-family: Muli;
  src: url(Muli.ttf)
}

.team-wiki {
  background: white;
}

/* useful tags */
.margin-top-50 {
  margin-top: 50px;
}

/* marks */
.glyphicon.glyphicon-fire.btn-danger.private-team-mark {
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 11px;
  font-size: 30px;
}

.glyphicon.glyphicon-leaf.btn-success.public-team-mark {
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 11px;
  font-size: 30px;
}

.invites-index-page {
  background: white;
  padding: 25px;
}

/* body */

body {
  height: 100%;
  background: $color-primary-4;
  border: 0;
}

#wrap {
  min-height: 600px;
}

/* index page */

.index-page {
  background: white;
  .row {
    padding: 100px;
  }
}

ul.pagination {
  border: 1px solid #bbb;
}

/* footer */

.footer {
  bottom: 0;
  margin-top: 50px;
  padding-top: 15px;
  background: $color-primary-3;
  padding-bottom: 20px;

  .footer-li {
    color: $color-primary-1;
    list-style: none;
  }

  .container {
    .row {
      background: $color-primary-3;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 5px;
      // border: 1px solid $color-primary-0;

      div {
        ul {
          .attention-footer {
            color: $color-primary-1;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 900;
            font-family: 'muli';
          }

          list-style-type: none;
          li {
            a {
              font-family: 'muli';
              font-weight: 900;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* logo */
#logo {
  font-family: Space;
  color: $color-primary-1;
  font-size: 40px;
  margin-left: 5px;
  text-shadow: 0 0 5px white;

  font-weight: 900;
  &:hover {
    color: white;
    border-radius: 9px;
    background: $color-primary-3;
  }
}

/* content */
.content {
  // background: white;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #fff;
  background: rgba(#dfdfdf, 0.78);
  padding-top: 25px;
  padding: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* _header */
.navbar.navbar-default {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  background: $color-primary-0;
  color: $color-primary-1;

  .navbar-header {
    #logo {
      font-family: Space;
      color: $color-primary-1;
      font-size: 40px;
      margin-left: 5px;

      font-weight: 900;
      &:hover {
        color: white;
        border-radius: 9px;
        background: $color-primary-3;
      }
    }
  }

  .nav.navbar-nav {
    li {
      a {
        font-weight: 900;
        color: $color-primary-1;
        &:hover {
          color: white;
          border-radius: 9px;
          background: $color-primary-3;
        }
      }
    }
  }

  .nav.navbar-nav.navbar-right {
    margin-right: 0;
    li {
      a {
        &:hover {
          color: white;
          border-radius: 9px;
          background: $color-primary-3;
        }
      }
    }
    padding: 0;
  }
}

/* users - new */
.users-new {
  padding: 40px;
  margin-left: 40%;
  margin-right: 40%;

  .btn.btn-primary {
    margin-top: 20px;
  }
}

/* sessions - new */
.sessions-new {
  .btn.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 300px;
  background: white;
  border-radius: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  h1 {
    color: $color-primary-0;
    font-weight: 900;
  }
}

.table-hover tbody tr td, .table-hover tbody tr th .urgent{
  .urgent-to-do {
    background: blue;
  }
}

.table-hover tbody tr:hover .urgent {
  background-color: rgb(222, 123, 129);
  color: white;
  a {
    color: white;
    font-weight: 900;
    .urgent-to-do {
      color: black;
    }
  }

  a.urgent-to-do {
    background: black;
    font-weight: 900;
    border: 1px solid #bbb;
  }
}

