// Place all the styles related to the requirements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.requirements-show {
  background: white;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}

.show-priority {
  padding: 15px;
  border: 1px solid #bbb;
}

.show-status {
  padding: 15px;
  border: 1px solid #bbb;
}

.requirement-comparison {
  background: #666661 !important;
  border: 1px solid #bbb !important;
  &:hover {
    border: 1px solid #bbb !important;

    background: rgb(17, 28, 27) !important;
  }
}
