@import 'custom';

.show-team-block {
  // background: $color-primary-3;
  min-height: 1px;
  padding-left: 5px;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid $color-primary-0;
  color: white;
  margin: 5px;
  padding: 5px;
}

.row.margin-top-50.index {
  margin-left: 150px;
  margin-right: 150px;
}

.teams {
  padding-top: 25px;
  padding: 5px;
}

.teams-index-title {
  color: $color-primary-2;
  font-weight: 900;
  text-transform: uppercase;
}

.new-team-page {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background: $color-primary-1;
  h1 {
    color: $color-primary-0;
    font-weight: 900;
  }

  div.picture {
    margin-top: 25px;
  }

  .btn.btn-primary.btn-success.btn-lg {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.teams-show-page {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  h1 {
    color: $color-primary-0;
    font-weight: 900;
  }
}

.public-team-tag {
  background: #5cb85c;
  color: $color-primary-1;
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.private-team-tag {
  background: #F36565;
  color: $color-primary-1;
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

h3.methodology-safe {
  font-family: Space;
  font-weight: 900;
  font-size: 2.1em;
  background: #0069B3;
  text-align: center;
  padding: 5px;
  border: 1px solid #0069B3;
  max-width: 200px;
  color: #001C30;
}

h3.methodology-scrum {
  font-weight: 900;
  font-size: 2.1em;
  font-family: Space;
  background: #D6CFD5;
  text-align: center;
  padding: 5px;
  max-width: 200px;
  border: 1px solid #bbb;
  color: #957b90;
}

h3.methodology-empty {
  font-size: 1.4em;
  font-family: Muli;
  background: #ff6a2a;
  text-align: center;
  padding: 10px;
  max-width: 200px;
  border: 1px solid #bbb;
  color: white;
}

h3.team-public {
  font-size: 1.4em;
  font-family: Muli;
  background: rgb(81, 214, 152);
  text-align: center;
  padding: 10px;
  max-width: 200px;
  border: 1px solid #bbb;
  color: white;
}

h3.team-private {
  font-size: 1.4em;
  font-family: Muli;
  background: rgb(210, 54, 82);
  text-align: center;
  padding: 10px;
  max-width: 200px;
  border: 1px solid #bbb;
  color: white;
}

.team-shared-block {
  border-bottom: 1px solid #f2f5fa;
  margin-top: 50px;
}

div.col-md-4.teams-photo {
  padding-top: 50px;
}

.footer {
  bottom: 0;
  margin-top: 50px;
  padding-top: 15px;
  background: $color-primary-3;
  padding-bottom: 20px;

  .footer-li {
    color: $color-primary-1;
    list-style: none;
  }
}

#team-logo {
  font-size: 40px;
  margin-left: 5px;

  font-weight: 900;
}

.team-requirements {
  padding: 25px;
}

.fa.fa-align-justify.requirements, .fa.fa-archive.requirements {
  font-size: 25px;
  background: rgb(128, 131, 163);
  padding: 20px;
  border: 1px solid #bbb;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 50px;

  &:hover {
    background: white;
    color: rgb(128, 131, 163);
    background: 1px solid rgb(128, 131, 163);
  }

}

.fa.fa-user.requirements {
  font-size: 25px;
  background: rgb(128, 131, 163);
  padding: 20px;
  border: 1px solid #bbb;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;

  &:hover {
    background: white;
    color: rgb(128, 131, 163);
    background: 1px solid rgb(128, 131, 163);
  }
  display: block;

}

/* sidebar */
.team-sidebar {
  font-family: Muli;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

}

.requirements-link {
  color: #36b5a2;
  text-decoration: none;
  border-bottom: 10px solid #bbb;
  margin-bottom: 25px;

  &:hover {
    color: #36b5a2;
    border-bottom: 10px solid #36b5a2;
  }
}

.wiki-link {
  color: #6336b5;
  text-decoration: none;
  border-bottom: 10px solid #bbb;
  margin-bottom: 25px;

  &:hover {
    color: #6336b5;
    border-bottom: 10px solid #6336b5;
  }
}

/* _header */
.teams-show-page {
  .navbar.navbar-default {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    background: white;
    color: rgb(143, 153, 140);

    .nav.navbar-nav {
      li {
        padding: 5px;
        a {
          font-weight: 900;
          color: $color-primary-1;
        }
      }

      .wiki-link {
        color: #1f1f1f;
        text-decoration: none;
        border-bottom: 10px solid #bbb;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #6336b5;
          border-bottom: 10px solid #6336b5;
        }
      }

      .wiki-link-selected {
        color: #6336b5;
        text-decoration: none;
        border-bottom: 10px solid #6336b5;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #6336b5;
          border-bottom: 10px solid #6336b5;
        }
      }

      .requirements-link {
        color: #1f1f1f;
        text-decoration: none;
        border-bottom: 10px solid #bbb;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #36b5a2;
          border-bottom: 10px solid #36b5a2;
        }
      }

      .requirements-link-selected {
        color: #36b5a2;
        text-decoration: none;
        border-bottom: 10px solid #36b5a2;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #36b5a2;
          border-bottom: 10px solid #36b5a2;
        }
      }

      .show-link {
        text-decoration: none;
        color: #1f1f1f;
        border-bottom: 10px solid #bbb;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #59b536;
          border-bottom: 10px solid #59b536;
        }
      }

      .show-link-selected {
        text-decoration: none;
        color: #59b536;
        border-bottom: 10px solid #59b536;;
        margin-bottom: 25px;

        &:hover {
          background: none;
          border-radius: 0px;
          color: #59b536;
          border-bottom: 10px solid #59b536;
        }
      }
    }
  }
}
